{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <title>로그인페이지</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('{% static "accounts/img/back_img1.png" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* 최소 높이를 화면의 높이로 설정 */
        }
        .google-login-btn {
            background-image: url('{% static "accounts/img/logo-google.png" %}');
            background-size: cover;
        }
        
        .kakao-login-btn {
            background-image: url('{% static "accounts/img/logo-kakao.png" %}');
            background-size: cover;
        }

        .naver-login-btn {
            background-image: url('{% static "img/logo-naver.png" %}');
            background-size: cover;
        }

        .login_btn {
            background-image: url('{% static "img/login_img.png" %}');
            background-size: cover;
        }
        
    </style>
    </head>
    
    <body>
        {% include 'fonts.html' %}
        <main class="main">

            <a class="logo_class" href='{% url "main:main" %}'>
                <img src="{% static 'img/iand_logo_w.png' %}" class="logo_img" id="logo_img">
            </a>
            
            <div class="login_main">
                <div class="loginpage">
                    <form id="login_form" action="{% url 'account_login' %}?next={{request.GET.next}}" method="POST">

                        {% csrf_token %}

                        <h5 class="loginpage-title">로그인</h5>
                        <div class="loginbox">
                            <div class="login-id-pass">
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="error_msg">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                                <div class="login-id">
                                    <input class="username" name="login" id ="usernameInput" data-testid="input-username" autocapitalize="off" type="text" value="" name="usernameInput">
                                    <label for="usernameInput" id="usernameLabel">계정이름</label>
                                    <span for="usernameLabel" id="usernameSpan">계정이름</span>
                                </div>
                                
                                <div class="login-pass">
                                    <input class="password" name="password" id="passwordInput" data-testid="input-password" type="password" autocomplete="off" value="" name="passwordInput">
                                    <label for="passwordInput" id="passwordLabel">비밀번호</label>
                                    <span for ="passwordLabel" id="passwordSpan">비밀번호</span>
                                </div>
                            </div>

                            <div class="login_btn_div">
                                <input type="submit" class="login_btn" id="id_login_btn" value=""/>
                            </div>
                        </div>
                    </form>

                        <div class="api-login">
                            <div class="sns_line">
                                <div class="line1"></div>
                                <label>소셜 계정 로그인</label>
                                <div class="line2"></div>
                            </div>
                            <div class="api-login-btn">
                                <div class="google_login_div">
                                    <form action="{% provider_login_url 'google' %}" method='POST'>
                                        {% csrf_token %}
                                        <button class="google-login-btn">
                                        </button>
                                    </form>
                                </div>
                                
                                <div class="kakao_login_div">
                                    <form action="{% provider_login_url 'kakao' %}" method='POST'>
                                        {% csrf_token %}
                                        <button class="kakao-login-btn">
                                        </button>
                                    </form>
                                </div>

                                <div class="naver_login_div">
                                    <form action="{% provider_login_url 'naver' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="naver-login-btn">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div> 
                                
                        <div class="sign_up_div">
                            <a href="{% url 'account_signup' %}" class="sign_up_btn">회원 가입</a>
                        </div>
                </div>  
            </div>
        </main>

        <footer class="footer">
            <div>
                <span>AIVLE 4기 빅프로젝트 1조  2023.12.11 ~ 2024.01.17 </span><br>
                <span>경기도 성남시 분당구 불정로 90 (정자동)</span><br>
                <span>Copyright© 2023 KT Corp. All rights reserved.</span>
            </div>
        </footer>
        
    </body>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const usernameInput = document.getElementById('usernameInput');
            const usernameLabel = document.getElementById('usernameLabel');
            const usernameSpan = document.getElementById('usernameSpan');

            const passwordInput = document.getElementById('passwordInput');
            const passwordLabel = document.getElementById('passwordLabel');
            const passwordSpan = document.getElementById('passwordSpan');

            // 포커스 이벤트 리스너 추가
            usernameInput.addEventListener('focus', function () {
                hideLabelAndShowSpan(usernameLabel, usernameSpan);
            });

            passwordInput.addEventListener('focus', function () {
                hideLabelAndShowSpan(passwordLabel, passwordSpan);
            });

            // 입력 이벤트 리스너 추가
            usernameInput.addEventListener('input', function () {
                toggleLabelAndSpan(usernameInput, usernameLabel, usernameSpan);
            });

            passwordInput.addEventListener('input', function () {
                toggleLabelAndSpan(passwordInput, passwordLabel, passwordSpan);
            });

            function toggleLabelAndSpan(inputElement, labelElement, spanElement) {
                if (inputElement.value.trim() !== '') {
                    labelElement.style.display = 'none';
                    spanElement.style.display = 'inline';
                } else {
                    labelElement.style.display = 'inline';
                    spanElement.style.display = 'none';
                }
            }

            function hideLabelAndShowSpan(labelElement, spanElement) {
                labelElement.style.display = 'none';
                spanElement.style.display = 'inline';
            }
        });
    </script>

    {% if request.method == 'POST' %}
    <script src="{% static 'accounts/js/ip.js' %}"></script>
    {% endif %}


    {% if messages.error %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}

</html>