{% load static %}
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static '/playground/css/lol.css' %}">
    

    <title>1인칭 주인공 시점</title>
    </head>

    <body>
        <header class="header">
            <div class="div_header">
                
                <div class="header_left">
                    <a href="../"><img src="{% static '/playground/images/logoc_.png' %}" alt="logo"></a>
                </div>

                <div class="header_center">
                    <div class="experience_link">
                        <a href="">
                            <p>위인체험</p>
                            <div class="underbar"></div>
                        </a>
                    </div>
                    <div class="community_link">
                        <a href="../community">
                            <p>커뮤니티</p>
                            <div class="underbar"></div>
                        </a>
                    </div> 
                </div>

                <div class="header_right">
                    <div class="language_setting">
                        <a class="a" href="">
                            <p>언어설정
                                <svg  class="language_arrow" viewBox="0 0 8 5">
                                    <title>mainNavArrowDownHover</title>
                                    <path d="M.707 1.707l2.586 2.586a1 1 0 001.414 0l2.586-2.586C7.923 1.077 7.477 0 6.586 0H1.414C.524 0 .077 1.077.707 1.707z" fill="#fff"></path>
                                </svg> 
                            </p>
                        </a>
                        <ul class="language_chart">
                            <li><a href="">한국어</a></li>
                            <li><a href="">English</a></li>
                        </ul>
                        
                    </div>
                    <div class="login">
                        <a class="a" href="../accounts">
                            <p>로그인</p>
                        </a>
                    </div>
                    <div class="join">
                        <a class="a" href="../accounts/signup">
                            <p>회원가입</p>
                        </a>
                    </div>
                </div>

            </div>
        </header>

        <main class="main">
            <div class="main_top">
                <p class="main_top_12">
                    <span class="main_top_1">위인을</span><br>
                    <span class="main_top_2">
                    <strong>선택하세요</strong>
                    </span>
                </p>
                <p class="main_top_3"> 
                    검색 혹은 카테고리를 통해 과학자와 수학자 중<br>
                    경험해보고 싶은 위인을 찾아 주인공이 되어 봅시다!
                </p>
            </div>
            <div class="main_center">
                
                <section class="nav_section">
                    <section class="nav_section">
                        <nav class="classification_bar">
                            <div class="nav_div">
                                <div class="function">
                                    
                                    <form id="searchForm" method="get" action="{% url 'index' %}">
                                        <input type="text" id="search_Input" name="search" placeholder="위인을 검색하세요" value="{{ search_query }}" autocomplete='off'>
                                        <input type="hidden" name="filter_option" value="{{ filter_option }}">
                                        <input type="hidden" name="categoryOption" value="{{ categoryOption }}">
                                        <button type="submit">검색</button>
                                    </form>

                                                          
                                    <form id="radioForm">
                                        <input type="hidden" name="search" value="{{ search_query }}">
                                        <input type="hidden" name="filter_option" value="{{ filter_option }}">

                                        <input type="radio" name="categoryOption" id="category0" value="0" checked onchange="this.form.submit()" {% if categoryOption == '0' %}checked{% endif %}>
                                        <label for="category0">전체<div class='nav_under'></div></label>
                                    
                                        <input type="radio" name="categoryOption" id="category1" value="1" onchange="this.form.submit()" {% if categoryOption == '1' %}checked{% endif %}>
                                        <label for="category1">과학자<div class='nav_under'></div></label>
                                    
                                        <input type="radio" name="categoryOption" id="category2" value="2" onchange="this.form.submit()" {% if categoryOption == '2' %}checked{% endif %}>
                                        <label for="category2">수학자<div class='nav_under'></div></label>

                                        <input type="radio" name="categoryOption" id="category3" value="3" onchange="this.form.submit()" {% if categoryOption == '3' %}checked{% endif %}> 
                                        <label for="category3">철학자<div class='nav_under'></div></label>

                                        <input type="radio" name="categoryOption" id="category4" value="4" onchange="this.form.submit()" {% if categoryOption == '4' %}checked{% endif %}>
                                        <label for="category4">음악가<div class='nav_under'></div></label>
                                    </form>
                                    
                            
                                    <form method="get" action="{% url 'index' %}">
                                        <select name="filter" onchange="this.form.submit()">
                                            <option value="" {% if filter_option == '' %}selected{% endif %}>전체</option>
                                            <option value="1" {% if filter_option == '1' %}selected{% endif %}>읽은 책</option>
                                            <option value="0" {% if filter_option == '0' %}selected{% endif %}>안읽은 책</option>
                                            <input type="hidden" name="search" value="{{ search_query }}">
                                            <input type="hidden" name="categoryOption" value="{{ categoryOption }}">
                                        </select>
                                    </form>

                                </div>
                            </div>
                        </nav>
                      </section>
                </section>
                
                <section class="book_section">
                    <div class="book_div">
                        <div class="container">
                            {% if books %}
                                {% for book in books %}
                                    <div class="item">
                                        <input type="checkbox" id="no_{{ book.id }}" class="modal_check">
                                        <label for="no_{{ book.id }}">
                                            <div class="human" style="background-image: url('{{ book.card_image.url }}');"></div>
                                            <div class="name">{{ book.name }}</div>
                                        </label>

                                        <div>
                                            <div class="modal_window">
                                                <label for="no_{{ book.id }}"></label>
                                                <div class="modal_side">
                                                    <label for=""></label>
                                                    <input type="radio" name="side_option_{{ book.id }}" id="profile_side_{{ book.id }}" class="modal_radio" checked>
                                                    <label for="profile_side_{{ book.id }}">{{ book.id }} 프로필</label>
                                                    <input type="radio" name="side_option_{{ book.id }}" id="episode1_side_{{ book.id }}" class="modal_radio">
                                                    <label for="episode1_side_{{ book.id }}">{{ book.id }} 에피소드1 제목</label>
                                                    <input type="radio" name="side_option_{{ book.id }}" id="episode2_side_{{ book.id }}" class="modal_radio">
                                                    <label for="episode2_side_{{ book.id }}">{{ book.id }} 에피소드2 제목</label>
                                                    <input type="radio" name="side_option_{{ book.id }}" id="episode3_side_{{ book.id }}" class="modal_radio">
                                                    <label for="episode3_side_{{ book.id }}">{{ book.id }} 에피소드3 제목</label>
                                                    <input type="radio" name="side_option_{{ book.id }}" id="quiz_side_{{ book.id }}" class="modal_radio">
                                                    <label for="quiz_side_{{ book.id }}">Quiz</label>
                                                </div>
                                        
                                                <div class="modal_main" id="modal_main_{{ book.id }}">
                                                    
                                                    <div class="profile_main profile_main_{{ book.id }}">
                                                        <div class="profile_contents">
                                                            <div class= "profile_img" style="background-image: url('{{ book.profile_image.url }}');" onclick="playAudio('/static/audio/sungji.mp3')"></div>
                                                            <div class= "profile_name">
                                                                <span class="profile_name_span">{{book.name}}</span>
                                                                <span class="profile_life_span"> {{book.year_of_life}}</span></div>
                                                            <div class= "profile_prologue">{{book.prologue}}</div>
                                                        </div>
                                                        <div class= "change_voice_face">
                                                            <form class="voice_face_form" id="voice_face_form_{{ book.id }}" method="get">
                                                                <button type="submit" class="button_voice_face">적용</button> 
                                                                <label class="voice_label"><input type="checkbox" class="voice_check" name='voice' value="{{ book.id }}" {% if voice == book.id %}checked{% endif %}>음성 입히기</label> 
                                                                <label class="face_label"><input type="checkbox" class="face_check" name='face' value="{{ book.id }}"{% if face == book.id %}checked{% endif %}>얼굴 입히기</label>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    {% for i in "123" %}
                                                        <div class="episode{{i}}_main_{{ book.id }}">
                                                            <div class='scene_container'>
                                                                {% for info in index_info %}
                                                                    <div class="scene scene_{{book.id}}_{{i}} scene_{{info.0}}"  id="scene_{{book.id}}_{{i}}_{{info.0}}" >
                                                                        <div class="wrap_scene_element">
                                                                            <div class='episode_image' style="background-image: url('/static/playground/images/episode_{{i}}/cut_0{{info.0}}.png');"></div>
                                                                            <div class="human_in_scene" id="h_{{book.id}}_{{i}}_{{info.0}}" onclick="playAudio('/static/audio/scene{{info.0}}.mp3')"
                                                                            style="background-image: url('/static/images/episode_{{i}}/cut_0{{info.0}}_h.png'); width : {{ info.1 }}px; height : {{ info.2 }}px; top : {{ info.3 }}px; right : {{ info.4 }}px;"
                                                                            onmouseover = "this.style.opacity = 1;" onmouseout = "this.style.opacity = 0;">                           
                                                                            </div>
                                                                            <div class='episode_scene_num'>
                                                                                {{info.0}}/4
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <button class="btnLeft" id="btnLeft_{{book.id}}_{{i}}" onclick="changescene_{{book.id}}_{{i}}(-1)"><</button>
                                                            <button class="btnRight" id="btnRight_{{book.id}}_{{i}}" onclick="changescene_{{book.id}}_{{i}}(1)">></button>
                                                            <script>
                                                                let currentsceneIndex_{{book.id}}_{{i}} = 1;
                                                                const totalscenes_{{book.id}}_{{i}} = document.querySelectorAll('.scene_{{book.id}}_{{i}}').length;
                                                            
                                                                function changescene_{{book.id}}_{{i}}(direction) {
                                                                    document.getElementById(`scene_{{book.id}}_{{i}}_${currentsceneIndex_{{book.id}}_{{i}}}`).style.display = 'none';
                                        
                                                                    currentsceneIndex_{{book.id}}_{{i}} = currentsceneIndex_{{book.id}}_{{i}} + direction;
                                                                    if (currentsceneIndex_{{book.id}}_{{i}} < 1) {
                                                                        currentsceneIndex_{{book.id}}_{{i}} = 1;
                                                                    } else if (currentsceneIndex_{{book.id}}_{{i}} > totalscenes_{{book.id}}_{{i}}) {
                                                                        currentsceneIndex_{{book.id}}_{{i}} = totalscenes_{{book.id}}_{{i}};
                                                                    }
                                                                    document.getElementById(`scene_{{book.id}}_{{i}}_${currentsceneIndex_{{book.id}}_{{i}}}`).style.display = 'block';
                                                                }
                                                                
                                                            </script>
                                                        </div>
                                                    {% endfor %}

                                                    <div class="quiz_main_{{ book.id }}">
                                                        <div class="quiz_wrap">
                                                            <form>
                                                                {% for k in "1234" %}
                                                                    <div class="quiz_div" id="quiz_{{book.id}}_{{k}}">
                                                                        <div class="quiz_text">
                                                                            <span class="quiz_head">Q{{k}}.</span>
                                                                            <span class="quiz_body">Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}
                                                                            Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}_Quiz{{k}}</span>
                                                                        </div>                                                                  
                                                                        <div class="quiz_input_wrap">
                                                                            <input type = "text" id="input_{{book.id}}_{{k}}">
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            
                                                                <div id="quiz_button">
                                                                    <button type="submit" name="quiz_button_{{book.id}}">채점</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                            <label for="no_{{ book.id }}"></label>
                                            <script>
                                                const radioButtons{{ book.id }} = document.querySelectorAll('input[name="side_option_{{ book.id }}"]');
                                                const contentDivs{{ book.id }} = document.querySelectorAll('#modal_main_{{ book.id }} > div');
                                        
                                                contentDivs{{ book.id }}[0].style.display = 'block';
                                        
                                                radioButtons{{ book.id }}.forEach((radioButton, index) => {
                                                    radioButton.addEventListener('change', () => {
                                                        contentDivs{{ book.id }}.forEach((div, divIndex) => {
                                                            div.style.display = index === divIndex ? 'block' : 'none';
                                                        });
                                                    });
                                                });
                                            </script>
                                            <script>
                                                document.getElementById('no_{{ book.id }}').addEventListener('change', function () {
                                                    var popupDiv = document.querySelector('input[id="no_{{ book.id }}"] + label + div');
                                                    popupDiv.style.display = this.checked ? 'block' : 'none';
                                                });
                                            </script>                               
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                    <div class="no_result">
                                        조건에 맞는 위인이 없습니다.<br>
                                        다시 검색해 주세요.
                                    </div>
                            {% endif %}

                            {% if voice %}
                                <script>
                                    var voice = {{ voice|default:0 }};
                                    var elementId = 'no_' + voice;
                                    var popupDiv_open = document.querySelector('input[id="' + elementId + '"] + label + div');
                                    var name = 'input[id="' + elementId + '"] + label + div';
                                    popupDiv_open.style.display = "block";
                                    
                                </script>
                            {% elif face %}
                                <script>
                                    var face = {{ face|default:0 }};
                                    var elementId = 'no_' + face;
                                    var popupDiv_open = document.querySelector('input[id="' + elementId + '"] + label + div');
                                    popupDiv_open.style.display = "block";
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </section>

            </div>
            <div class="main_bottom">
                여긴 하단인데 구독링크 등 광고 넣으면 좋을 듯~
            </div>
        </main>

        <footer class="footer">
            <span>AIVLE 4기 빅프로젝트 1조  2023.12.11 ~ 2024.01.17 </span><br>
            <span>경기도 성남시 분당구 불정로 90 (정자동)</span><br>
            <span>Copyright© 2023 KT Corp. All rights reserved.</span>
        </footer>
        
        <script>
            var audio = new Audio(audioFile);;
            function playAudio(audioFile) {

                if (audio && !audio.paused) {
                return;
                }

                if (audio) {
                audio.pause();
                audio.currentTime = 0;
                }

                audio = new Audio(audioFile);

                audio.addEventListener('ended', function() {
                //pass
                });

                audio.play();
            }
        </script>
    </body>
</html>
