
:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}

a {
    background: transparent;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 50px;
    display: block;
    outline: none;
    width: 100%;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
    border-radius:5px;
}

.signup-pass .password {
    font-size: 16px;
}

body>* {
    box-sizing: border-box;
}
 
.header {
    height: 80px;
}
 
.logo_img {
    height: 100px;
}
 
.main {
    display: flex;
}
 
.left_main {
    width: 50%;
}
 
.right_main {
    width: 50%;
}
 
.signuppage {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    margin-left: auto;
    margin-top: 10%;
    min-width: 40%;
    flex-direction: column;
    position: absolute;
}
 
.signup-id-pass *{
    padding-bottom: 10px;
}
 

.signup-id-pass input {
    background: transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 50px;
    display: block;
    outline: none;
    width: 100%;
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
    border-radius:5px;
}
 
.signup-id-pass input:not(:focus):hover {
    background:#F1F1F1;
    border: #ECECEC;
}
 
.api-signup {
    padding: 10px 0px;
}
 
.api-signup button {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-radius: 12.8px;
    height: auto;
    border-radius: 9.6px;
    padding: 0px 16px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
 
.signup-id-pass label {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 14px;
    left: 16px;
    top: 22px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
}
 
.signup-id-pass span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 12px;
    left: 8px;
    top: 7.33px;
    pointer-events: none;
    transform-origin: left top;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translateY(-50%);
}
 
.signup-id-pass div {
    position: relative;
}
 
.google-signup-btn {
    background: white;
}
 
.kakao-signup-btn {
    background: #FAE100;
}
 
.naver-signup-btn {
    background: #00C300;
}
 
.api-signup-btn img {
    width: 30px;
    height: 30px;
    padding: 5px 20px;
}
 
.signup-remember {
    position: relative;
}
 
.signup-remember label {
    cursor: pointer;
}
 
.signup-id-pass input:not(:focus) {
    background: #F8F8F8;
}
 
.signup-id-pass input:focus {
    background: none;
    outline: auto;
}
 
.signup-id-pass input:focus ~label {
    display: none;
}
 
.signup-id-pass input:not(:focus) ~span {
    display: none;
}
 
.footer {
    color: white;
    font-size: 10px;
}
 
/*
 
.signuppage-main {
    display: flex;
    place-items: center;
}
 
 
 
.signuppage-title {
    margin: 0px;
    padding-top: 48px;
    text-align: center;
    font-size: 25.63px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: none;
    text-align: center;
    color: rgb(0, 0, 0);
}
 
.signupbox {
    text-align: center;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
 
.signup-id-pass div {
    height: auto;
    margin-bottom : 20px;
}
 */