{% load static %}

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>자유게시판</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_center.css' %}">
        <style>
            #qna {
                font-weight: 900;
                font-size: 22px;
            }
        </style>
    </head>
    <body>
        {% include 'header.html'%}
        
        <main class="main">
            <div class="main_top">
                <div class="page_name">게시판 목록</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        <div class="board_div" id="announcement"><a href="/community">- 공지사항</a></div>
                        <div class="board_div" id="freeboard"><a href="./freeboard">- 자유게시판</a></div>
                        <div class="board_div" id="qna"><a href="./qna">- 문의게시판</a></div>
                    </div>
                    <div class="board_free_wrap">
                        <table class="board_list">
                            <caption>게시판 목록</caption>
                            <thead>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>작성일</th>
                                <th>조회</th>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for list in post_list %}
                                        <td>{{list.postname}}</td>
                                        <td>{{list.contents}}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <div class="paging">
                            <a href="#" class="bt">첫 페이지로 이동</a>
                            <a href="#" class="bt">이전 페이지로 이동</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="bt">다음 페이지</a>
                            <a href="#" class="bt">마지막 페이지</a>
                        </div>
                        <div class="write_btn">
                            <a href="writepage" class="bt">글쓰기</a>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>
