{% load static %}

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>자유게시판</title>
        <link rel="stylesheet" href="{% static 'community/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'community/css/main_center.css' %}">
        <style>
            #announcement {
                font-weight: 900;
                font-size: 22px;
            }
        </style>

    </head>
    <body>
        {% include 'header.html'%}
        
        <main class="main">
            <div class="main_top">
                <div class="page_name">게시판 목록</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        {% if category %}
                            {{ category.description|truncatewords:155}} - category
                        {% else %}
                            공지사항
                    </div>
                    <div class="board_free_wrap">
                        <table class="board_list">
                            <caption>목록</caption>
                            <thead>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>작성일</th>
                            </thead>
                            <tbody>
                                {% if post_all %}
                                    {% for post in post_all %}
                                    <tr class="{% cycle '' 'even_bgcolor' %}"></tr>
                                        <td>{{post.id}}</td>
                                        <td><a href="{% url 'community:post_by_category' post.id %}">{{post.postname}}</a></td>
                                        <td>{{post.writer}}</td>
                                        <td>{{post.registerd_date}}</td>
                                    </tr>
                                    {% endfor %}            
                                {% else %}
                                    <tr>
                                        <td>작성된 게시글이 없습니다.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="paging">
                            <a href="#" class="bt"><<</a>
                            <a href="#" class="bt"><</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="bt">></a>
                            <a href="#" class="bt">>></a>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="main_bottom"></div>
        </main>
        <footer>{% include 'footer.html' %}</footer>
    </body>
</html>
