{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'community/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'community/css/main_center.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/global_style.css' %}"> -->
        <style>
            @font-face {
                font-family: AppleSDGothicNeo;
                font-weight: 800;
                src: url("/static/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
            }
            
            body {
                font-family: AppleSDGothicNeo;
                background-color: white;
            }
            #announcement {
                font-weight: 900;
                font-size: 22px;
            }
        </style>
        
    </head>
    <body>
        {% include 'header.html'%}
        {% include 'cursor.html' %}
        <main class="main">
            <div class="main_top">
                <div class="page_name">게시판 목록</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        <!-- <div class="board_div" id="all">
                            <a href="/community/">- 전체 게시글</a>
                        </div> -->
                        {% for cate in links %}
                            <div class="board_div"><a href="{{ cate.get_url }}">- {{ cate.name }}</a></div>
                        {% endfor %}
                    </div>
                    <div class="board_free_wrap">
                        <table class="board_list">
                            <caption>게시판 목록</caption>
                            <thead>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>작성일</th>
                            </thead>
                            <tbody class="board_list_body">
                                {% if post_list %}
                                    {% for list in page_obj %}
                                        <tr class="table_list">
                                            <td>{{ list.id }}</td>
                                            <td><a href="{% url 'community:detail' list.id %}">{{ list.postname }} -- [{{ list.comment_count }}]</a></td>
                                            <td>{{ list.writer.nickname}}</td>
                                            <td>{{ list.registered_date }}</td>
                                        </tr>
                                    {% endfor %}            
                                {% else %}
                                    <tr>
                                        <td>작성된 게시글이 없습니다.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="paging">
                            {% if page_obj.has_other_pages %}
                            <ul style="display:flex;list-style: none;">
                                {% if page_obj.has_previous %}
                                <li style="margin:3px;"><a style="text-decoration:none; color:blue;" href="?page={{page_obj.previous_page_number}}">&#10094; Prev</a></li>
                                {% endif %}
                                
                                {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li style="margin:3px;"><a style="text-decoration:none; color:#000;" href="?page={{page}}">{{page}}</a></li>
                                {% else %}
                                    <li style="margin:3px;"><a style="text-decoration:none; color:blue;" href="?page={{page}}">{{page}}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                <li style="margin:3px;"><a style="text-decoration:none; color:blue;" href="?page={{page_obj.next_page_number}}">&#10095; Next</a></li>
                                {% endif %}
                            {% endif %}
                            </ul>
                        </div>
                        <div>
                            <form id="searchForm" method="get">
                                <select name="search_field">
                                    <option value="0" {% if search_field == '0' %}selected{% endif %}>제목</option>
                                    <option value="1" {% if search_field == '1' %}selected{% endif %}>작성자</option>
                                </select>
                                <input type="text" id="search_Input" name="keyword" placeholder="검색어를 입력하세요." autocomplete='off' {% if keyword %} value="{{ keyword }}" {% endif %}>
                                <button type="submit" class="search_btn">검색</button>
                            </form>
                        </div>
                        <div class="write_btn">
                            <a href="{% url 'community:writepage' %}" class="bt">글쓰기</a>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html> 
