{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'community/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'community/css/main_center.css' %}">
    <title>Detail</title>
</head>
<body>
    <header>{% include 'header.html'%}</header>
    <main class="main">
        <div class="main_top">
            <div class="page_name">게시판 목록</div>
        </div>
        <div class="main_center">
            <div class="div_center">
                <div class="side_center">   
                    <div class="board_div" id="all">
                        <a href="/community/">- 전체 게시글</a>
                    </div>
                    {% for cate in links %}
                        <div class="board_div"><a href="{{ cate.get_url }}">- {{ cate.name }}</a></div>
                    {% endfor %}
                </div>
                <div class="detail_wrap">
                    <h1 class="title">{{detail.postname}}</h1>
                    <div class="detail_post">
                        <dl><dt>작성자:</dt><dd>{{detail.writer}}</dd></dl>
                        <dl><dt>작성일자:</dt><dd>{{detail.registered_date}}</dd></dl>
                    </div>
                    <div class="detail_contents">
                        <p>{{detail.contents}}</p>
                    </div>       
                    <div class="detail_btn">
                        <dl><dt><a href="/community/" class="to_board">목록</a></dt></dl><br>
                        <div class="update_btn">
                            <a href="{% url 'community:update' detail.id%}" class="bt">수정</a>
                        </div>
                        <div class="delete_btn">
                            <form action="{% url 'community:detail' detail.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="삭제">
                            </form>
                        </div>
                        <dl><dt></dt></dl>
                    </div>
                </div>
            </div>
        </div>     
    </main>
</body>
</html>