{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'community/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'community/css/main_center.css' %}">
        <style>
            #announcement {
                font-weight: 900;
                font-size: 22px;
            }
        </style>
    </head>
    <body>
        <header>{% include 'header.html'%}</header>
        <main class="main">
            <div class="main_top">
                <div class="page_name">게시판 목록</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        <div class="board_div" id="all">
                            <a href="/community/">- 전체 게시글</a>
                        </div>
                        {% for cate in links %}
                            <div class="board_div"><a href="{{ cate.get_url }}">- {{ cate.name }}</a></div>
                        {% endfor %}
                    </div>
                    <div class="board_write_wrap">
                        <p class="write_title">새 글 작성</p>
                        <form method="POST" id="write_box" class="wb_form" action="{% url 'community:writepage' %}">
                            {% csrf_token %}
                            {{ form }}
                            
                            <div class="submit_btn">
                                <input type="submit" value="완료">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>{% include 'footer.html' %}</footer>
    </body>
</html>