header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
    z-index: 800;
    height: 80px;
    background-color: black;
    border-bottom: 2px solid rgba(51, 51, 51, .25);
    font-size: 19px !important;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    display: flex;
    width: 100%;
    caret-color: transparent; /* 커서의 깜빡임을 없앱니다. */
    /* margin-bottom: 80px; */
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}

.header_center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.header_center div {
    display: inline-flex;
    position: relative;
    /* height: 80px; */
    cursor: pointer;
    min-width: 115px;
}

.header_center a {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    /* height: 66px; */
    font-size: 19px;
    font-weight: 600;
    line-height: 120%;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.header_right div {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* height: 80px; */
    min-width: 90px;
}

.header_right .a {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* height: 66px; */
    font-size: 19px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    overflow: hidden;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color .5s cubic-bezier(0.06, 0.81, 0, 0.98);
}

header a p {
    text-align: center !important;
    margin: 19px 0px;
    display: inline-block;
}


.header_right .a:hover .language_chart {
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s, visibility 0s;
    color: whitesmoke;
    opacity: 1;
    visibility: visible;
    display: block;
}

*/ .header_right .language_chart:hover {
    color: whitesmoke;
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s, visibility 0s;
    opacity: 1;
    visibility: visible;
    display: block;
}

.header_right .join p:hover, .header_right .login p:hover, .header_right .logout p:hover .mypage p:hover{
    padding: 7.5px 16px;
    /* background: rgb(236,232,44); */
    border-radius: 6.4px;
    color : white;
}

header a {
    text-decoration: none;
    letter-spacing: 0;
    transition: 0.35s;
    color:white;
}

.header_right a p {
    padding: 7.5px 16px;
}

.header_right>div {
    margin: 0 3px;
}

.language_chart li {
    padding-bottom: 2px;
    text-align: center;
}

header a:hover,
header a:active {
    color: whitesmoke;
    /* color: yellow; */
    letter-spacing: 5px;
    transition: 0.35s;
}

header a:after {
    bottom: -10px;
}

header a:before {
    top: -10px;
}

header a:after,
header a:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

header a:hover:after,
header a:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

header a:hover:before {
    width: 100%;
}

.header_right .non_login{
    color: white;
    font-size: 12px;
    margin-right: 10px;
}

.header_right .success_login{
    color: yellowgreen;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.header_right .credit{
    padding-left: 35px;
    justify-content: center;
    flex-direction: column;
    color: white;
}