:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}


body {
    margin : 0;
    padding : 0;
    background-color: #111111;
    color: white;
}

body * {
    box-sizing: border-box;
}



/* MAIN 구간 */

.main {
    display: flex;
    margin-top : 80px;
    min-height : 800px;
    min-width: 800px;
    margin-left: 3%;
    margin-right: 3%;
}

/* nav_root */
.nav_root {
    width: 260px;
    height: 100%;
    margin: 0px 15px 0px 0px;
    position: sticky;
    top: 0;
    padding-top: 80px;
}

.nav_root h1 {
    color: #ebebeb;
    font-size: 28px;
}

.nav_root li {
    padding: 10px 0px 10px 0px;
    font-size: calc((1rem - 0.4625vw - 1.34px) * 12.8 / 16)px;
    list-style-type: none;
}

.nav_root a {
    text-decoration: none;
    color: #ebebeb;
    font-weight: 800;
}

/* main_root */

.main_root {
    width: calc(100% - 260px);
    height: 100%;
    /* background-color: #292727; */
}

.none {
    padding-bottom: 20px;
}

.personal_information_card {
    display: flex;
    width: 100%;
    height: 450px;
    padding-top: 80px;
}

#change_password {
    height: 620px;
}

#login_history {
    height: 600px;
}

.delete_card {
    display: flex;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    margin-bottom: 50px;
}

.delete_information_explain {
    width: 40%;
    height: calc(100% - 80px);
    background-color: #211e1f;
    padding: 20px 30px 20px 30px;
}

.delete_information_content {
    width: 60%;
    height: calc(100% - 80px);
    background-color: #292727;
    padding: 20px 40px 20px 40px;
}

.delete_information_explain h1 {
    color: #f0f0f0;
    font-size: 22px;
    margin-bottom: 10px;
}


.personal_information_explain {
    width: 40%;
    height: calc(100% - 80px);
    background-color: #211e1f;
    padding: 30px 40px 30px 40px;
}

.personal_information_explain h1 {
    color: #f0f0f0;
    font-size: 22px;
    margin-bottom: 10px;
}

.personal_information_explain p {
    color: #e8e8e8;
    font-size: 12px;
}

.personal_information_content {
    width: 60%;
    height: calc(100% - 80px);
    background-color: #292727;
    padding: 30px 40px 30px 40px;
}

.personal_information_empty {
    margin: 0px 0px 10px 0px;
}

.user_name {
    width: 60%;
    outline: none;
}

.personal_information_content div {
    position: relative;
    border: none;
    box-sizing: border-box;
    height: 3vw;
    display: block;
    width: 100%;
    padding: 8px 6px 40px;
}

.personal_information_content input {
    position: relative;
    background: transparent;
    border: none;
    box-sizing: border-box;
    height: 3vw;
    display: block;
    padding: none;
    outline: none;
    width: 100%;
    color: white;
    line-height: 18px;
    font-size: 18px;
    font-family: "FF Mark W05", sans-serif;
}

.personal_information_content input:not(:focus):hover {
    border: rgb(102, 102, 102);
}

/* .personal_information_content input:focus {
    border: #ffffff 2px solid
} */


.personal_information_username {
    outline: rgba(138,138,138,0.1) 2px solid;
    margin-bottom: 40px;
}

.personal_information_nickname {
    outline: rgba(138,138,138,0.1) 2px solid;
    margin-bottom: 10px;
    background-color: rgb(51, 49, 49);
}

.personal_information_content span {
    color: rgb(142, 141, 141);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 10px;
    left: 8px;
    top: 7.33px;
    pointer-events: none;
    transform-origin: left top;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translateY(-50%);
}


.nickname_change {
    margin-top: 40px;
    text-align: right;
    color: #525252;
}

.nickname_change_button {
    background-color: transparent;
    border: none;
    outline: rgba(138,138,138,0.1) 2px solid;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #525252;
    font-weight: 700;
}

.change_password_text {
    font-size: 18px;
}

.delete_button_layout {
    width: 100%;
}

.delete_button {
    background-color: rgba(138,138,138,0.1);
    color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border:0;
    font-weight: 700;
    cursor: pointer;
}

.delete_button:hover {
    background-color: rgba(138,138,138,0.15);
}

/* MAIN-TOP 구간 */

.main_top {
    height : 240px;
    width : 100%;
}

.page_name {
    font-size : 35px;
    font-weight : 600;
    padding-top : 185px;
    padding-left : 40px;
}

/*MAIN 사이드*/

.div_center {
    margin-top : 30px;
    margin-bottom : 30px;
    display : flex;
    height : 100%;
    width: 100%;
}

.side_center{
    display : flex;
    flex-direction: column;
    width : 250px;
    height : 100%;
    border-right : 3px solid rgb(242, 242, 242);
}

.side_center div {
    font-size : 20px;
    text-align: left;
    height : 40px;
    width : 100%;
    padding-left : 50px;
    margin-top : 20px;
}

.side_center div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

/* 사이드 밑줄 없애기 */
.board_div > a {
    text-decoration: none;
    color: inherit;
}
