:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}


body {
    margin : 0;
    padding : 0;
    background-color: #111111;
}

body * {
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

/* MAIN 구간 */

.main {
    display: flex;
    margin-top : 80px;
    min-height : 800px;
    min-width: 1200px;
    padding: 0 10%;
    background-color: black;
}

/* modal csss*/
.modal {
    margin-top: 20px;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-top: 20px;
    max-height: 800px;
    top: 0px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal_content_main {
    height: 80%;
    background-color: #292727;
    padding: 50px 100px;
    border-radius: 20px 20px 0px 0px;
}

.modal_content_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    background-color: #201E1F;
    border-radius: 0px 0px 20px 20px;
}

.capture-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 15px solid rgb(163, 151, 198);
    border-radius: 50%;
    background-color: #383636;
    box-shadow: 0 1px 0 rgba(0,0,0,0.66) inset, 
              0 2px 0 -1px rgba(0,0,0,0.87), 
              0 3px 0 -1px rgba(0,0,0,0.92), 
              0 3px 13px -1px rgba(100,100,100,0.79);
}

.capture-btn:active {
    top: 1.5px;
    border-color: #6F6490;
    box-shadow: 0 1px 0 rgba(0,0,0,0.11),0 1px rgba(0,0,0,0.95) inset;
    position: relative;
}

.capture-img {
    width: 80%;
}

.capture-img:active {
    filter: invert(39%) sepia(12%) saturate(1169%) hue-rotate(214deg) brightness(101%) contrast(87%);
}

.hidden {
    display: none;
}

canvas {
    display: block;
    border: 1px solid #d953e5;
    background-color: black;
    margin-top: 10px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

video {
    display: none; /* 비디오 태그 숨김 */
}

.directions {
    z-index: 10;
    font-size: 1em;
    color: #292727;
    margin-top: 42px;
}

/* nav_root */
.nav_root {
    width: 300px;
    height: 100%;
    margin: 0px 15px 0px 0px;
    position: sticky;
    top: 0;
    padding-top: 80px;
}

.nav_root h1 {
    color: #ebebeb;
    font-size: 28px;
}

.nav_root ul {
    padding: 0px 0px 0px 10px;
    margin: 0;
}

.nav_root li {
    padding: 10px 0px 10px 0px;
    font-size: calc((1rem - 0.4625vw - 1.34px) * 12.8 / 16)px;
    list-style-type: none;
}

.nav_root img {
    padding-right: 10px;
}

.nav_root a {
    text-decoration: none;
    color: #ebebeb;
    font-weight: 800;
    display: flex;
    align-items: center;
}

/* main_root */

.main_root {
    width: calc(100% - 300px);
    height: 100%;
}

.header_size {
    padding: 10px;
}

.personal_information_card {
    display: flex;
    width: 100%;
    padding-top: 80px;
}

#face_img {
    width: 100%;
    margin-top: 20px;
}

.delete_card {
    display: flex;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    margin-bottom: 150px;
}

.delete_information_explain {
    width: 40%;
    height: calc(100% - 80px);
    background-color: #211e1f;
    padding: 20px 30px 20px 30px;
}

.delete_information_content {
    width: 60%;
    height: calc(100% - 80px);
    background-color: #292727;
    padding: 20px 40px 20px 40px;
}

.delete_information_explain h1 {
    color: #f0f0f0;
    font-size: 22px;
    margin-bottom: 10px;
}


.personal_information_explain {
    width: 40%;
    background-color: #211e1f;
    padding: 30px 40px 30px 40px;
}

.personal_information_explain h1 {
    color: #f0f0f0;
    font-size: 22px;
    margin-bottom: 10px;
}

.personal_information_explain p {
    color: #e8e8e8;
    font-size: 12px;
    line-height: 20px;
}

.personal_information_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #292727;
    padding: 30px 40px 30px 40px;
}

.personal_information_empty {
    margin: 0px 0px 10px 0px;
}

.user_name {
    width: 60%;
    outline: none;
}

.internal_navigation_positional > p {
    font-size: 2em;
    font-weight: 600;
}

.personal_information_link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.personal_information_link > img {
    width: 9%;
}

.personal_information_link > span {
    font-size: 0.85em;
}

.personal_information_content input:not(:focus):hover {
    border: rgb(102, 102, 102);
}


.personal_information_username {
    outline: rgba(138,138,138,0.1) 2px solid;
    margin-bottom: 40px;
}

.personal_information_nickname {
    outline: rgba(138,138,138,0.1) 2px solid;
    margin-bottom: 10px;
    background-color: rgb(51, 49, 49);
}

.input_container {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-radius: 5px;
    margin: 20px;
    background: #383636;
}

.input_wrapper {
    width: 100%;
    height: 100%;
    padding: 17px 5px 6px;
    margin-bottom: 15px;
}

.input_wrapper > label {
    position: relative;
    left: 10px;
    bottom: 32px;
    font-size: 0.6rem;
    color: #9E9E9E;
}

.view_pwd {
    all: unset;
    animation-delay: 0.1s;
    position: relative;
    top:30px;
    right: 5px;
    padding: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-image: url('https://iand-bucket.s3.ap-northeast-2.amazonaws.com/media/common/eye-close.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.button-area {
    display: flex;
    justify-content: right;
    width: 100%;
}

.type-input_wrapper:hover {
    background: rgba(71, 69, 69, 0.8);
}

.input-label {
    display: none;
    position: relative;
    bottom: 10px;
    font-size: 0.5rem;
    padding: 2px;
}

.type-input {
    height: 38px;
    background: transparent;
    border: none;
    box-sizing: border-box;
    display: block;
    outline: none;
    width: 100%;
    color: #ccc;
    line-height: 18px;
    font-size: 18px;
    font-family: "FF Mark W05", sans-serif;
}
.type-input:active {
    outline: 1 px solid #ccc;
}

.nickname_check_msg {
    margin-top : 20px;
}

.nickname_change {
    margin-top: 5px;
    text-align: right;
    color: #525252;
    display: flex;
    text-align: center;
}

#nickname_change_button {
    margin-left: 25%;
    width : 30%;
    margin-right: 3%;
    height: 50px;
}

.save_button {
    min-height: 65px;
    background-color: transparent;
    border: none;
    outline: rgba(138,138,138,0.1) 2px solid;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #B8B8B8;
    font-weight: 700;
    border-radius: 3px;
}
.save_button:hover {
    outline-color: #B8B8B8;
}

.form_text {
    margin-top: 10px;
}


#nickname_change_cancel_button {
    width: 30%;
    background-color: white;
    visibility: hidden;
    cursor: pointer;
    height: 50px;
}
  

.upload_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: rgba(138,138,138,0.1) 3px solid ;
    border-style: dashed;
    width: 100%;
    height: 150px;
    color: #B8B8B8;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    transition: background-color 0.3s ease-in-out;
    vertical-align: center;
}
.upload_area:hover {
    /* background:rgba(71, 69, 69, 0.8); */
    border-color: #B8B8B8;
    cursor: pointer;
}

.upload_button_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

#playIcon {
    z-index: 1;
    width: 100%;
    margin-top: 20px;
    filter: invert(12%) sepia(97%) saturate(31%) hue-rotate(29deg) brightness(96%) contrast(95%);
}


.voice_file_name {
    margin-top: 90px;
}

.delete_button_layout {
    width: 100%;
}

.delete_button {
    background-color: rgba(138,138,138,0.1);
    color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border:0;
    font-weight: 700;
    cursor: pointer;
}

.delete_button:hover {
    background-color: rgba(138,138,138,0.15);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#confirmDelete, #cancelDelete {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#confirmDelete {
    background-color: red;
    color: white;
}

/* MAIN-TOP 구간 */

.main_top {
    height : 240px;
    width : 100%;
}

.page_name {
    font-size : 35px;
    font-weight : 600;
    padding-top : 185px;
    padding-left : 40px;
}

/*MAIN 사이드*/

.div_center {
    margin-top : 30px;
    margin-bottom : 30px;
    display : flex;
    height : 100%;
    width: 100%;
}

.side_center{
    display : flex;
    flex-direction: column;
    width : 250px;
    height : 100%;
    border-right : 3px solid rgb(242, 242, 242);
}

.side_center div {
    font-size : 20px;
    text-align: left;
    height : 40px;
    width : 100%;
    padding-left : 50px;
    margin-top : 20px;
}

.side_center div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

/* 사이드 밑줄 없애기 */
.board_div > a {
    text-decoration: none;
    color: inherit;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper > p {
    max-height: 15px;
    padding: 0px 5px;
    font-size: 0.7em;
    border-left: 1px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

h5 {
    margin-right: 10px;
    color: rgb(102, 102, 102);
}