
:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}

signup-id-pass * > a {
    background: transparent;
    padding: 15px 8px 15px;
    box-sizing: border-box;
    height: 50px;
    display: block;
    outline: none;
    width: 100%;
    color: rgb(31, 31, 31);
    line-height: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
    border-radius:5px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
  }
  
input.error {
border: 1px solid red;
}

  
.signup-pass .password {
    font-size: 12px;
}

.signup-id-pass .already_signup{
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    font-size: 10px;
    color:#004494;
    text-decoration-line: none;
}

body>* {
    box-sizing: border-box;
}
 
.header {
    height: 80px;
}
 
.logo_img {
    height: 15vw;
    padding: 10px;
    cursor: pointer;
}
 
.main_container {
    display: flex; /* Flexbox를 활성화 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /*수직 중앙 정렬*/
    /* height: 100%; 전체 뷰포트 높이를 차지하도록 설정 */
}

.signuppage {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    min-width: 40%;
    opacity: 0.5; /* Start with a lower opacity */
    transition: opacity 0.5s ease;
}

.signuppage:hover {
    opacity: 0.95; /* Full opacity on hover */
}

.signup-id-pass *{
    padding-bottom: 10px;
}
 

.signup-id-pass input {
    background: transparent;
    border: none;
    padding: 15px 8px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 50px;
    display: block;
    outline: none;
    width: 100%;
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
    border-radius:5px;
}
 
.signup-id-pass input:not(:focus):hover {
    background:#F1F1F1;
    border: #ECECEC;
}
 
.api-signup {
    padding: 10px 0px;
}
 
.api-signup button {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-radius: 12.8px;
    height: auto;
    border-radius: 9.6px;
    padding: 0px 16px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
 
.signup-id-pass label {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12px;
    left: 14px;
    top: 20px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
}
 

.signup-id-pass div {
    position: relative;
}

/* Targeting the input type submit within the .signup-button class */
.signup-button input[type=submit] {
    margin-top: 10px;
    padding: 10px 20px;
    border-color: black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    width: 100%; /* Make it fill the container */
}

/* Hover Effect specifically for the input */
.signup-button input[type=submit]:hover {
    background-color: #004494; /* Darken background on hover */
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add shadow effect on hover */
}

/* Active/Focus Effect for the input */
.signup-button input[type=submit]:active,
.signup-button input[type=submit]:focus {
    outline: none; /* Removes the outline */
    color: black;
    background-color: #004494;
}

.signup-remember {
    position: relative;
}
 
.signup-remember label {
    cursor: pointer;
}
 
.signup-id-pass input:not(:focus) {
    background: #F8F8F8;
}
 
.signup-id-pass input:focus {
    background: none;
    outline: auto;
}
 
.signup-id-pass input:focus ~label {
    display: none;
}
 
.signup-id-pass input:not(:focus) ~span {
    display: none;
}

/* Basic styling for select */
.custom-select {
    display: block;
    width: 100%; /* Responsive width */
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #444; /* Text color */
    background-color: #fff; /* Background color */
    background-image: url('arrow-down-icon.svg'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 12px center;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    -webkit-appearance: none; /* Removes default chrome and safari style */
    -moz-appearance: none; /* Removes default style Firefox */
    appearance: none; /* Standard syntax */
}

/* Hover style */
.custom-select:hover {
    border-color: #888; /* Darker border on hover */
}

/* Focus style */
.custom-select:focus {
    outline: none;
    border-color: #555; /* Even darker border on focus */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}


.footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: #F1F1F1;
    font-size: 12px;
    text-align: center;
    padding: 3%;
    user-select: none;
}