{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'mypage/css/main_center.css' %}">

    <title>1인칭 주인공 시점</title>
    </head>

    <body>
        {% include 'header.html' %}
        <main class="main">
            <div class="nav_root">
                <nav class="internal_navigation">
                    <div class="internal_navigation_positional">
                        <h1>Account Management</h1>
                        <div class="internal_navigation_content">
                            <ul class="internal_navigation_list">
                                <li><a class="personal_information_link" href="#personal_information_card"><span>PERSONAL INFORMATION</span></a></li>
                                <li><a class="change_password_link" href="#change_password"><span>CHANGE PASSWORD</span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="main_root">
                <div class="personal_information_card" id="personal_information_card">
                    <div class="personal_information_explain">
                        <h1>Personal Information</h1>
                        <p>This information is private and will not be shared with other players. Read the Riot Privacy Notice anytime!</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
                <div class="personal_information_card" id="change_password">
                    <div class="personal_information_explain">
                        <h1>Change Password</h1>
                        <p>We recommend that you periodically update your password to help prevent unauthorized access to your account.</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
                <div class="personal_information_card" id="personal_information_card">
                    <div class="personal_information_explain">
                        <h1>test3</h1>
                        <p>This information is private and will not be shared with other players. Read the Riot Privacy Notice anytime!</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
            </div>
        </main> 
        {% include 'footer.html' %}     
    </body>
</html>