{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'mypage/css/mypage_certify.css' %}">
        <link rel="stylesheet" href="/static/css/global_style.css">

    <title>1인칭 주인공 시점</title>
    </head>
    <body>
        {% include 'fonts.html' %}
        <div class='root'>
            <header>
                <div class="logo_wrapper">
                    <a href="/"><img class="logo" src="{% static 'mypage/img/iand_logo_w.png' %}"></img></a>
                    
                </div>
            </header>
            <main>
                <div class="input_wrapper">
                    <form>
                        <span class="form_title">인증 필요</span>
                        <span class="form_msg">{{marked_id}} 계정</span>
                        <span class="form_msg">PIN번호 4자리를 입력해 주세요.</span>
                        <input class="pwd" id="cur-pinpwd" type="password" placeholder="· · · ·" oninput="updateButton(event)" maxlength="4"/>
                        <button class="submit_btn" type="submit" onclick="submitPinButton()" disabled>
                            <div>
                                <svg class="submit_img" role="img" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="sc-hLseeU idnFbI sc-iAEyYk ciBkas">
                                    <path d="M22.8011 14.75L14.2234 6.70971L16.0474 5L26.8695 15.1441C27.3732 15.6163 27.3732 16.3817 26.8695 16.8538L16.0474 26.998L14.2234 25.2883L22.7989 17.25H4.75V14.75H22.8011Z"></path>
                                </svg>
                            </div>
                        </button>
                    </form>
                </div>
            </main>
            <footer></footer>
        <div>  
    </body>
    <script src="{% static 'mypage/js/mypage_certify.js' %}"></script>
</html>