{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_center.css' %}">

    <title>1인칭 주인공 시점</title>
        <style>
            #info_modify {
                font-weight:900;
                font-size:22px;
            }
        </style>
    </head>

    <body>
        {% include 'header.html' %}
        <main class="main">
            <div class="main_top">
                <div class="page_name">My Page</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        <div class="board_div" id="info_modify"><a href="/mypage">- 개인 정보 수정</a></div>
                        <div class="board_div" id="face_register"><a href="./upload_img">- 얼굴 등록</a></div>
                        <div class="board_div" id="voice_register"><a href="./upload_voice">- 목소리 등록</a></div>
                    </div>
                    <div class='center_center'>
                        
                    </div>
                </div>                
            </div>
            <div class="main_bottom"></div>
        </main> 
        {% include 'footer.html' %}     
    </body>
</html>