{% load static %}
<html lang="ko">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer_style.css' %}">

    <title>1인칭 주인공 시점</title>
    </head>

    <body>
        <footer class="footer">
            <span>AIVLE 4기 빅프로젝트 1조  2023.12.11 ~ 2024.01.17 </span><br>
            <span>경기도 성남시 분당구 불정로 90 (정자동)</span><br>
            <span>Copyright© 2023 KT Corp. All rights reserved.</span>
        </footer>
        
    </body>
</html>