:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}


body {
    margin : 0;
    padding : 0;
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: black;
}

/* MAIN 구간 */

.main {
    margin-top : 80px;
    min-height : 800px;
    min-width: 800px;
}

/* MAIN-TOP 구간 */

.main_top {
    height : 240px;
    width : 100%;
    background-color: rgba(242, 242, 242, 0.999);

}

.page_name {
    font-size : 35px;
    font-weight : 600;
    padding-top : 185px;
    padding-left : 40px;
}

/*MAIN 사이드*/

.div_center {
    margin-top : 30px;
    margin-bottom : 30px;
    display : flex;
    height : 100%;
    width: 100%;
}

.side_center{
    display : flex;
    flex-direction: column;
    width : 250px;
    height : 100%;
    border-right : 3px solid rgb(242, 242, 242);
}

.side_center div {
    font-size : 20px;
    text-align: left;
    color : black; 
    height : 40px;
    width : 100%;
    padding-left : 50px;
    margin-top : 20px;
}

.side_center div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

/* 사이드 밑줄 없애기 */
.board_div > a {
    text-decoration: none;
    color: inherit;
}
