
/* MAIN 구간 */
 
.main {
    margin-top : 80px;
    min-height : 800px;
    min-width: 800px;
}
 
/* MAIN-TOP 구간 */
 
.main_top {
    height : 300px;
    width : 1270px;
    min-width: 100%;
    background-image : url('/static/community/img/community_bg.png');
    background-repeat : no-repeat;
    background-size : cover;
}
 
.page_name {
    font-size : 35px;
    font-weight : 600;
    padding-top : 321px;
    padding-left : 40px;
}
 
/*MAIN 사이드*/
 
.div_center {
    margin-top : 30px;
    margin-bottom : 30px;
    display : flex;
    height : 100%;
    width: 100%;
}
 
.side_center{
    display : flex;
    flex-direction: column;
    width : 250px;
    height : 100%;
    border-right : 3px solid rgb(242, 242, 242);
    min-width: 300px;
    padding-top: 50px;
    caret-color: transparent; /* 커서의 깜빡임을 없앱니다. */
}
 
.side_center div {
    font-size : 20px;
    text-align: left;
    color : black;
    height : 40px;
    width : 100%;
    padding-left : 50px;
    margin-top : 20px;
}
 
.side_center div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}
 
/* 사이드 밑줄 없애기 */
.write_btn a,
.board_list a,
.board_div > a {
    text-decoration: none;
    color: inherit;
}
 
.paging ul {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
 
form#searchForm {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
 
thead {
    text-align: center;
}
 
/* 글쓰기 페이지 css */
.board_write_wrap {
    margin: 30px 70px;
}
 
 
.write_title {
    font-size: xx-large;
}
 
div:has(> .form_control) {
    width: 300px;
}
 
div:has(> .select_category_box) {
    width: 300px;
    margin-left: 20px;
}
 
form#write_box {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
 
 
 
 
 
.update_form {
    width: 1000px;
}
 
form > div {
    width: 100%;
}
 
.wb_form textarea#id_contents,
.update_form textarea#id_contents {
    width: 100%;
    min-height: 400px;
    resize: none;
}
 
/* 게시글 목록 간격 고정 */
th.head_title {
    min-width: 570px;
}
th.head_writer {
    min-width: 150px;
}
th.head_views {
    min-width: 80px;
}
th.head_date {
    min-width: 100px;
}
 
.btm_bar {
    display : flex;
    position : relative;
    justify-content: center;
    align-items: center;
}
 
.write_btn{
    position : absolute;
    right : 0;
    color: black;
    background-color: #eaeaea;
}
 
 
 
#write_box>input[type="text"] {
    height: 50px;
    width: 600px!important;
    margin: 0 0 10px 0!important;
    font-size : 25px;
}
 
#write_box>label {
    justify-self: center;
    text-align: center;
    align-items: center;
    display : flex;
    margin: 0 0 10px 30px!important;
    font-size : 25px;
}
 
#write_box>select {
    margin: 0 0 10px 26px!important;
    width : 200px;
    font-size : 20px;
}
 
#write_box .submit_btn {
    position : relative;
}
 
#write_box .submit_btn input {
    font-size : 20px;
    border : 2px solid black;
    position : absolute;
    right : 0;
    top : 10px;
}

.finish_modify{
    position : relative;
}
 
.finish_modify input {
    position : absolute;
    right : 0;
    border : 2px solid black;
}

.update_form input[type="text"] {
    height: 50px;
    width: 600px!important;
    margin: 0 0 10px 0!important;
    font-size : 25px;
}