/* MAIN 구간 */

.main {
    margin-top: 80px;
    min-height: 800px;
}

/* MAIN-TOP 구간 */

.main_top {
    height: 300px;
    width: 100%;
    background-image: url("/static/community/img/community_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page_name {
    font-size: 35px;
    font-weight: 600;
    padding-top: 321px;
    padding-left: 40px;
}

/*MAIN 사이드*/

.div_center {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    height: 100%;
    width: 100%;
}

.side_center {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    border-right: 3px solid rgb(242, 242, 242);
    min-width: 300px;
    padding-top: 50px;
    caret-color: transparent;
}

.side_center div {
    font-size: 20px;
    text-align: left;
    color: black;
    height: 40px;
    width: 100%;
    padding-left: 50px;
    margin-top: 20px;
}

.side_center div:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

.write_btn a,
.board_list a,
.board_div > a {
    text-decoration: none;
    color: inherit;
}

.paging ul {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form#searchForm {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

thead {
    text-align: center;
}

.update_form {
    width: 1000px;
}

form > div {
    width: 100%;
}

.wb_form textarea#id_contents,
.update_form textarea#id_contents {
    width: 100%;
    min-height: 400px;
    padding: 10px;
    resize: none;
    border-radius: 0px 8px 8px 8px;
}

.wb_form textarea#id_contents:focus,
.update_form textarea#id_contents:focus {
    border: 1px solid black;
    outline: none;
}

th.head_title {
    min-width: 570px;
}
th.head_writer {
    min-width: 150px;
}
th.head_views {
    min-width: 80px;
}
th.head_date {
    min-width: 100px;
}

.btm_bar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.write_btn {
    position: absolute;
    right: 0;
    color: black;
    background-color: #eaeaea;
}

#write_box > select {
    margin: 0 0 10px 26px !important;
    width: 200px;
    font-size: 20px;
}

#write_box .submit_btn {
    display: flex;
    justify-content: right;
}

#write_box .submit_btn input {
    font-size: 20px;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 10px;
}

.finish_modify {
    position: relative;
}

.finish_modify input {
    position: absolute;
    right: 0;
    border: 2px solid black;
}

.update_form input[type="text"] {
    height: 50px;
    width: 600px !important;
    margin: 0 0 10px 0 !important;
    font-size: 25px;
}

/* write page */
label {
    font-size: 1.3rem;
    font-weight: 400;
}

label[for="id_contents"] {
    margin-bottom: 10px;
}

.title_area_title > input {
    height: 42px;
    width: 75% !important;
    margin: 0 0 10px 0 !important;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid black;
}

.title_area_title > input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.title_area {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.title_area_title {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 30px;
}

.title_area_category {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.title_area_category > select {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    height: 42px;
}

.community_btn {
    font-family: inherit;
    font-size: 16px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.community_btn.list {
    font-size: 14px;
}

.community_btn a {
    all: unset;
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.community_btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.community_btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.community_btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.community_btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.community_btn:hover span {
    transform: translateX(5em);
}

.community_btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* community list */
form#searchForm > select {
    border: none;
    outline: none;
    -webkit-transition: all 100ms linear;
    transition: all 200ms linear;
}
form#searchForm > select:focus {
    border: none;
    outline: none;
    -webkit-transition: all 100ms linear;
    transition: all 200ms linear;
}
form#searchForm > select:hover {
    border: none;
    outline: none;
    border-bottom: 2px solid royalblue;
    -webkit-transition: all 100ms linear;
    transition: all 200ms linear;
}

.search_btn {
    all: unset;
    position: relative;
    right: 18px;
}

.search_btn > img {
    height: 30px;
    filter: invert(49%) sepia(7%) saturate(19%) hue-rotate(20deg)
        brightness(101%) contrast(98%);
    -webkit-transition: all 100ms linear;
    transition: all 200ms linear;
}

.search_btn > img:hover {
    height: 30px;
    filter: invert(41%) sepia(68%) saturate(788%) hue-rotate(193deg)
        brightness(88%) contrast(102%);
    -webkit-transition: all 100ms linear;
    transition: all 200ms linear;
}

input#search_Input {
    padding: 5px;
    width: 65%;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 30px;
}

input#search_Input:focus {
    outline: none;
}

/* comment */
textarea#id_content:focus {
    outline: none;
    border: none;
    caret-color: gray;
}

textarea#id_content {
    padding-left: 10px;
}

/* update */
.finish_modify {
    display: flex;
    justify-content: right;
}
