table {
    border-collapse: collapse;
}

caption {
    display: none;
}

.board_free_wrap {
    width: 100%;
    padding: 50px;
}

.board_list {
    width: 100%;
    border-top: 1px solid green;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
}

.board_list .title {
    width: 50%;
    text-align: center;
}

.board_list tbody tr td:nth-child(2):hover {
    text-decoration: underline;
}

.board_free_wrap .paging{
    margin-top: 20px;
    font-size: 0;
    text-align: center;
}

.board_free_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}

.board_free_wrap .paging a:first-child {
    margin-left: 0;
}

.board_free_wrap .paging a .num {
    background: green;
}

.board_free_wrap .paging a .bt {
    border: 1px solid #000;
    font-weight: 600;
}

.board_free_wrap .paging a.num.on {
    color: #000;
}

.write_btn {
    text-align: right;
}

.write_btn a.bt {
    background: #988d8d;
    color: #fff;
    text-decoration: none;
}

.write_btn a {
    display: inline-block;
    min-width: 30px;
    padding: 7px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1rem;
}

.board_cate {
    text-decoration: none;
}

/* detail */
.detail_wrap {
    max-width: 60%;
    margin-left: 50px;
    padding: 29px 29px 0;
    border: 1px solid #edeef0;
    border-radius: 6px;
}

.detail_wrap .title {
    margin-bottom: 2rem;
}

.detail_wrap .detail_post {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: auto;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.detail_wrap .detail_post dl {
    display: inline-block;
}

.detail_wrap .detail_post dl dt, dd{
    display: inline-block;
    font-size: 1rem;
}

.detail_wrap .detail_post dl dt{
    margin-left: 5px;
    color: #999;
}

.detail_wrap .detail_post dl dd{
    margin-left: 5px;
    margin-right: 10px;
}

.detail_wrap .detail_contents {
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #999;
}
