:lang(ko-kr) {
    word-break: keep-all;
    letter-spacing: normal !important;
}

/* html *, body * {
    font-family: 'Dongle', sans-serif;
} */

body {
    margin : 0;
    padding : 0;
}

body * {
    box-sizing: border-box;
}

/* HEADER 구간 */

.div_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
    z-index: 200000;
    height : 80px;
    background-color: black;
    border-bottom: 2px solid rgba(51,51,51,.25);
    font-size: 14px !important;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    display: flex;
    width: 100%;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}

.header_center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left : 10px;
}

.header_center div {
    display: inline-flex;
    position: relative;
    height: 80px;
    cursor: pointer;
    min-width : 115px;
}

.header_center a {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    height: 66px;
    font-size: 19px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    overflow: hidden;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color .5s 
                         cubic-bezier(0.06, 0.81, 0, 0.98);
}

/* 이고 꼭 써야해>? */
.header_center a p {
    padding: 7.5px 16px;
}  

.header_center a p:hover {
    padding: 7.5px 16px;
    background: rgba(128,128,128,.3);
    border-radius: 6.4px;
}

.header_center a p:hover + .underbar {
    background-color: rgb(236, 232, 44); 
    position: absolute; 
    bottom: 7px; 
    height: 4px; 
    width: 100%; 
    border-radius: 2px;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.header_right div {
    display: inline-flex;
    position: relative;
    height: 80px;
    cursor: pointer;
}

.login {
    min-width : 85px;
}

.join {
    min-width : 105px;
}

.language_setting {
    min-width : 120px;
} 

.header_right .a {
    display: flex;
    margin: auto;
    padding: 0;
    width : 100%;
    flex-direction: column;
    justify-content: center;
    height: 66px;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    overflow: hidden;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color .5s 
                         cubic-bezier(0.06, 0.81, 0, 0.98);
}

header a p {
    text-align: center;
    display : inline-block;
}

.language_arrow {
    width: 10px;
    height : 5px;
}

.language_chart {
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: 50px;
    background-color: #292929;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.2);
    border-radius: 0 0 2px 2px;
    text-align: left;
    font-size: 16px;
    width: 108px;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s,visibility 0s;
    display: none;
    list-style: none;
    padding-inline-start: 0;
    padding : 4px 4px;
}


.header_right .a:hover+.language_chart {
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s,visibility 0s;
    opacity: 1;
    visibility: visible;
    display: block;
}

.header_right .language_chart:hover {
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s,visibility 0s;
    opacity: 1;
    visibility: visible;
    display: block;
}

.header_right .join p:hover, .header_right .login p:hover {
    padding: 7.5px 16px;
    background: rgb(236,232,44);
    border-radius: 6.4px;
    color : black;
}

header a {
    text-decoration: none;
    color : white;
}

.header_right a p {
    padding: 7.5px 16px;
}

.header_right>div {
    margin : 0 3px; 
}

.join p,.login p {
    background: rgba(128,128,128,.3);
    
    border-radius: 6.4px;
}

.language_chart li {
    padding-bottom : 2px;
    text-align : center;
}


/* MAIN 구간 */


.main {
    margin-top : 80px;
    min-height : 800px;
}

.main_top_wrap {
    position : absolute;
    width : 100%;
    height : 100%;
}

#video_background {
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: none;
    opacity : 0.95;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.main_top {
    position: relative; 
    height: 350px;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main_top::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
}

.main_top_text {
    position : relative;
    color : white;
    top : -240px;
}

.main_top_12 {
    margin : 0px;
    min-width : 372px;
}

.main_top_1 {
    font-size : 35px;
}

.main_top_2 {
    font-size : 60px;    
}

.main_top_3 {
    padding-top : 10px;
    margin : 0;
    font-size : 18px;
    min-width: 440px;
}




.search {
    width : 35%;
    border-right : 2px solid rgb(161,161,161);
    height : 100%;
    text-align: center;
}

.category {
    width : 65%;
    height : 100%;
    text-align: center;
    vertical-align : center;
}


.container {
    padding-left : 80px;
    padding-right : 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    height : 372px;
    width : 239px;
    /* background-image: url('/static/playground/images/card.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* flex: 0 0 239px;  */
    margin: 10px; 
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin : 20px;
}

/* 검색 바 */

.classification_bar {
    display : flex;
    justify-content: center;
    align-items: center;
}


.nav_section {
    margin : 20px 0;
    height : 45px;

}

.function {
    display : flex;
    justify-content: center;
    flex : 1;
    height : 45px;
    align-items: center;
    border : 2px solid rgb(161, 161, 161);
    min-width : 800px;
    border-radius: 8px; 
    margin : 0 250px;
}

.function>form {
    height : 100%;
    margin : 0px;
    display : flex;
    justify-content: center;
    align-items: center;
}

#searchForm {
    margin :0 1px;
    display : flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;  
    width : 220px;
}

#searchForm>input[type="text"] {
    flex: 1;
    color: black;
    margin-right : 5px;
    font-size : 15px;
    width : 110px;
}
#searchForm>button {
    width : 50px;
}
 

#radioForm {
    margin : 0px 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap : 10px;  
}

#radioForm>label { 
    color : rgb(104, 101, 101);
    min-width : 60px;
    width : 18%;
}

#radioForm input[type='radio'] {
    display : none;
}

#radioForm input:checked + label{
    color : black;
    font-weight: 600;
}
#radioForm input:checked + label>div{
    border-bottom: 4px solid rgb(235, 168, 96);
}

#optionForm>select {
    font-size : 16px;
}

.no_result {
    padding-top : 130px;
    width : 100%;
    height : 300px;
    text-align: center;
    font-size: 20px;
    color : rgb(104, 101, 101);
}

/* 모달 */



.container .modal_check,.container .modal_radio {
    display : none;
}

.modal_check_form {
    margin : 0;
    height : 0;
    width : 0;
}

.modal_check_form + label {
    display : inline-block;
    color : #fff;
    width : 100%;
    height : 100%;
    position : absolute;
}

.human {
    position: relative;
    height: 372px;
    width: 239px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    background-size: 100% 100%;
    border-radius: 10px;
    background-position : center center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background-size 0.3s ease-in-out;

}

.lock_image {
    position : relative;
    width : 220px;
    height : 296px;
    top : -292px;
    right : -8px;
    opacity : 0.8;
    background-image : url('/static/playground/images/자물쇠.png');
    background-repeat : no-repeat;
    background-size : cover;
}

label:hover>.human {
    background-size: 110% 110%;
}

.name_img_wrap>label {
    width : 239px;
    height : 372px;
}

/* .item {
    overflow: hidden;
} */

.modal_check_form + div>label>.name{
    position : relative;
    height: 15%;
    width : 224px;
    font-size: 28px;
    font-weight: 600;
    padding-top: 9px;
    color: rgb(224,159,89);
    right : -7px;
}

.lock_image + .name {
    top : -296px!important;
}


.modal_check_form +div.name_img_wrap +div {
    /* display : none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.modal_check_form + div.name_img_wrap + div > div {
    position : absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1160px;
    height: 514px;
    background: #000603;
    z-index : 2;
    border : 3px solid rgb(224, 159, 89);
}

.modal_check_form + div.name_img_wrap + div > div > label {
    position : absolute;
    top: 3%;
    right: 2%;
    transform: translate(40%,-40%);
    padding : 20px;
    background-image: url('/static/playground/images/X_button.png');
    z-index : 5;
    opacity : 0.4;
}

.modal_check_form + div.name_img_wrap + div > div > label:hover {
    opacity : 1;
}

.modal_check_form + div.name_img_wrap + div > label {
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}

.modal_window{
    display : flex;
    background-color : rgb(24,16,31);
}

.modal_side {
    display : flex;
    flex-direction: column;
    border-right : 3px solid rgb(224,159,89);
    width : 327px;
    height : 100%;
    text-align: left;
}
.modal_side label {
    padding : 15px 0 0 20px;
    height : 50px;
    font-size : 16px;
}

.modal_side input:checked + label {
    background-color: rgba(224, 159, 89,0.65);
}

.modal_main {
    position : relative;
    width : 100%;
    height : 100%;  
}

.modal_main>div {
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0%;
    left : 0%;
    display : none;
}

/* 모달 profile */

.profile_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}

.profile_contents {
    position : absolute;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}



.profile_img {
    height : 250px;
    width : 450px;
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0 auto;
    top : 20px;
    position : relative;
    z-index: 10;
}

.profile_name {
    top : -6px;
    position : relative;
    z-index: 11;
}

.profile_name_span {
    font-size : 50px;
    font-weight: 700;
}

.profile_life_span {
    font-size : 20px;
    font-weight: 600;
}

.profile_prologue {
    padding : 0 30px;
    font-size : 16px;
    text-align: left;
    position : relative;
    top : -4px;
}

.change_voice_face {
    display : flex;
    flex-direction: row-reverse;
    position : relative;
    top : 450px;
    margin : 20px;
}

.voice_label, .face_label {
    display: flex;
    align-items: center; 
}

.voice_face_form {
    display : flex;
    flex-direction: row-reverse;
}

.voice_face_form > * {
    margin-right : 15px;
}

.voice_face_form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    background-color: #12533700;
    cursor: pointer;
    position: relative; 
    font-family : sans-serif!important;
}

.voice_face_form input[type="checkbox"]:checked::before {
    background-color: #00000000;
    color: #ffffff; 
    cursor: pointer;
}

.voice_face_form input[type="checkbox"]::before {
    content: "✔︎";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000; 
    font-size: 19px;
}

.button_voice_face {
    background-color: #ff000000;
    color: #fff;
    font-size: 16px;
    font-weight : 530;
    border: 2px solid white;    
    cursor: pointer;
}

.button_voice_face:hover {
    background-color: #ffffff;
    color: black;
    font-weight : 600;
}


/* 에피소드  모달 */
.scene_container {
    width : 100%;
    height : 100%;
    position : relative;
    transition: transform 0.5s ease-in-out;
}
.scene {
    flex: 0 0 100%;
}

.scene_container>div {
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0%;
    left : 0%;
}
.scene_1{
    display : block;
}

.scene_2, .scene_3, .scene_4{
    display : none;
}
.episode_image {
    width : 900px;
    height : 510px;;
    background-repeat: no-repeat;
    position : relative;
    background-size : cover;
}

.btnLeft, .btnRight {
    position : relative;
    top : -55%;
    background-color: #00000000;
    border : 0px;
    color : rgba(255, 255, 255, 0.486);
    font-size : 70px;
    font-weight : 600;
}

.btnLeft:hover, .btnRight:hover {
    color : rgb(255, 255, 255);
}

.btnLeft {
    left : -385px;
}
.btnRight{
    right : -385px; 
}

.human_in_scene {
    background-repeat : no-repeat;
    background-size: cover;
    position :absolute;
}

.episode_scene_num {
    position :absolute;
    top: calc(100% - 50px);
    left: 10px;
    font-size : 30px;
    font-weight: 600;
    opacity: 0.7;
}

.wrap_scene_element {
    position : relative;
}


/* Quiz 모달 */
.quiz_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
width: 100%;
max-width: 700px; 
display: grid;  
grid-gap: 20px;  
margin-top: 50px;  
margin-left: 100px;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: auto auto auto;
}


.card {
cursor: pointer;
overflow: hidden;
border-radius: 70%;
background-color: rgb(26, 39, 98);
grid-column: span 3;
height: 190px;
display: flex;
flex-direction: column;
position: relative;
border : 0px!important;
}


.card__text {
height: 80px;
border-radius: 4px;
background-color: #B88851;
opacity: 0.8;
margin: 10px;
padding: 0 20px;
text-align: center;
display: flex; 
justify-content: center; 
align-items: center; 
  }
  

.card__heading {
opacity: 0.9;
width: 100%;
color: #E1CDB7;
background-color: rgb(146, 106, 59);
margin: 0 ;
height: 50px;
text-align: center; 
justify-content: center; 
align-items: center; 
display: flex;
}


.card.is-active {
grid-row: 1;
grid-column: 1 / span 6;
height: 200px;
order: 0;
}

.card.is-active:after {
opacity: 1;
transform: translateY(0);
}

.card.is-inactive {
grid-column: span 2;
}


.quiz_input_wrap{
    display :flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 14px;
}

#quiz_button_container {
    position: absolute; 
    bottom: 20px; 
    right: 20px;     
    font-size: 16px;
    font-weight: 530;       
}

#quiz_buttonn {
    border: 1px solid white;
    margin-bottom: 37;
    border-color: rgb(146, 106, 59); 
    color: #f8f8f8;
    box-shadow: 0 0 40px 40px rgb(146, 106, 59) inset, 0 0 0 0 rgb(146, 106, 59); 
    transition: all 150ms ease-in-out;

}


#quiz_buttonn:hover {
    background-color: transparent; /* 투명 배경 */
    color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgb(146, 106, 59) inset, 0 0 10px 4px rgb(146, 106, 59); 
  }


/* quiz 결과 폼*/
#resultForm {
    display: none;
  }

.result_card {
cursor: pointer;
overflow: hidden;
border-radius: 5%;
background-color: rgb(244, 245, 249);
height: 190px;
display: flex;
flex-direction: column;
position: relative;
border : 0px; 
}

#quiz_1.result_card {
    grid-area: 1 / 1 ;
  }

#quiz_2.result_card {
grid-area: 1 / 2 ;
}

#quiz_3.result_card {
grid-area: 2 / 1 ;
}

#quiz_4.result_card {
grid-area: 2 / 2 ;
}
  

.result__text {
height: 80px;
border-radius: 4px;
background-color: #B88851;
opacity: 0.8;
margin: 10px;
padding: 0 20px;
text-align: center;
display: flex; 
justify-content: center; 
align-items: center; 
font-size: 12px;
}


.result__heading {
opacity: 0.9;
width: 100%;
color: #E1CDB7;
background-color: rgb(146, 106, 59);
margin: 0 ;
height: 50px;
text-align: center; 
justify-content: center; 
align-items: center; 
display: flex;
}

.rewardIcon {
    margin-left: 550px;
}

/* BUTTON */
#reward_button {
    border-color: rgb(146, 106, 59); 
    color: #f8f8f8;
    box-shadow: 0 0 40px 40px rgb(146, 106, 59) inset, 0 0 0 0 rgb(146, 106, 59); 
    transition: all 150ms ease-in-out;
    width: 120px;
    height: 40px;
    margin-right: 50px;
    margin-left: 600px;
    margin-bottom: 40px;
}
  
#reward_button:hover {
    background-color: transparent; /* 투명 배경 */
    color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgb(146, 106, 59) inset, 0 0 10px 4px rgb(146, 106, 59); 
  }

.reward_button {
    margin-right: 50px;
  }

#reward_button_container {
    position: absolute;
    bottom: -70px;
    right: 20px;
    font-size: 16px;
    font-weight: 530;
}

#restart_button {
    border-color: rgb(146, 106, 59); 
    color: #f8f8f8;
    box-shadow: 0 0 40px 40px rgb(146, 106, 59) inset, 0 0 0 0 rgb(146, 106, 59); 
    transition: all 150ms ease-in-out;
    width: 120px;
    height: 40px;
    margin-right: 50px;
    margin-left: 600px;
    margin-bottom: 105px;
}
  

#restart_button:hover {
    background-color: transparent; /* 투명 배경 */
    color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgb(146, 106, 59) inset, 0 0 10px 4px rgb(146, 106, 59); 
  }

.restart_button {
    margin-right: 50px;
  }



.main_bottom {
    height : 200px;
}
