{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/face_register.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_center.css' %}">
        <style>
            #face_register {
                font-weight:900;
                font-size:22px;
            }
        </style>

    <title>1인칭 주인공 시점</title>
    </head>

    <body>
        {% include 'header.html' %}
        <main class="main">
            <div class="main_top">
                <div class="page_name">My Page</div>
            </div>
            <div class="main_center">
                <div class="div_center">
                    <div class="side_center">   
                        <div class="board_div" id="info_modify"><a href="./mypage_temp">- 개인 정보 수정</a></div>
                        <div class="board_div" id="face_register"><a href="./upload_img">- 얼굴 등록</a></div>
                        <div class="board_div" id="voice_register"><a href="./upload_voice">- 목소리 등록</a></div>
                    </div>
                    <div class='center_center'>
                        <div class="center_check"></div>
                        <div class="center_image">
                            <div class="webcam">
                                <div class="webcam_text">웹캠 이미지</div>
                                <div class="webcam_display">웹캠화면</div>
                                <button class="webcam_picture_button">웹캠 촬영</button>
                            </div>
                            <div class="arrow"><img src="{% static 'img/arrow1.png' %}"></div>
                            <div class="output">
                                <div class="output_text">결과 화면</div>
                                <div class="output_display">모델 이미지 화면</div>
                                <div class="output_msg">모델의 결과 텍스트 출력</div>
                            </div>
                        </div>
                        <div class="image_submit">
                            <button class="image_submit_button">이미지 등록하기</button>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="main_bottom"></div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>