{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'mypage/css/main_center.css' %}">

    <title>1인칭 주인공 시점</title>
    </head>

    <body>
        {% include 'header.html' %}
        <main class="main">
            <div class="nav_root">
                <nav class="internal_navigation">
                    <div class="internal_navigation_positional">
                        <h1>Account Management</h1>
                        <div class="internal_navigation_content">
                            <ul class="internal_navigation_list">
                                <li><a class="personal_information_link" href="#personal_information_card"><span>PERSONAL INFORMATION</span></a></li>
                                <li><a class="change_password_link" href="#change_password"><span>CHANGE PASSWORD</span></a></li>
                                <li><a class="upload_img_link" href="#upload_img"><span>UPLOAD IMAGE</span></a></li>
                                <li><a class="upload_voice_link" href="#upload_voice"><span>UPLOAD VOICE</span></a></li>
                                <li><a class="login_history" href="#login_history"><span>LOGIN HISTORY</span></a></li>
                                <li><a class="delete_account" href="#delete_account"><span>DELETE ACCOUNT</span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="main_root">
                <div class="personal_information_card" id="personal_information_card">
                    <div class="personal_information_explain">
                        <h1>Personal Information</h1>
                        <p>This information is private and will not be shared with other players. Read the Riot Privacy Notice anytime!</p>
                    </div>
                    <div class="personal_information_content">
                            <div class="personal_information_username">
                                <div class="personal_username">User ID로 변경</div>
                                <span>USERNAME</span>
                            </div>
                            <div class="personal_information_nickname">
                                <input class="personal_nickname" data-testid="input-username" autocapitalize="off" type="text" value="기존 닉네임">
                                <span>NICKNAME</span>
                            </div>
                            <div class="nickname_change">
                                <div class="nickname_change_none">
                                    <button class="nickname_change_button">SAVE CHANGE</button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="personal_information_card" id="change_password">
                    <div class="personal_information_explain">
                        <h1>Change Password</h1>
                        <p>We recommend that you periodically update your password to help prevent unauthorized access to your account.</p>
                    </div>
                    <div class="personal_information_content">
                        <p class="change_password_text">Change Password</p>
                        <div class="personal_information_nickname">
                            <input class="personal_nickname" data-testid="input-username" autocapitalize="off" type="text" value="">
                            <span>CURRENT PASSWORD</span>
                        </div>
                        <div class="none"></div>
                        <div class="personal_information_nickname">
                            <input class="personal_nickname" data-testid="input-username" autocapitalize="off" type="text" value="">
                            <span>NEW PASSWORD</span>
                        </div>
                        <div class="none"></div>
                        <div class="personal_information_nickname">
                            <input class="personal_nickname" data-testid="input-username" autocapitalize="off" type="text" value="">
                            <span>CONFIRM NEW PASSWORD</span>
                        </div>
                        <div class="nickname_change">
                            <div class="nickname_change_none">
                                <button class="nickname_change_button">SAVE CHANGE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal_information_card" id="upload_img">
                    <div class="personal_information_explain">
                        <h1>Upload Image</h1>
                        <p>This information is private and will not be shared with other players. Read the Riot Privacy Notice anytime!</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
                <div class="personal_information_card" id="upload_voice">
                    <div class="personal_information_explain">
                        <h1>Upload Voice</h1>
                        <p>This information is private and will not be shared with other players. Read the Riot Privacy Notice anytime!</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
                <div class="personal_information_card" id="login_history">
                    <div class="personal_information_explain">
                        <h1>Account Login History</h1>
                        <p>0 logins from overseas

                            Only the login history within the last 30 days is available here</p>
                    </div>
                    <div class="personal_information_content">test</div>
                </div>
                <div class="delete_card" id="delete_account">
                    <div class="delete_information_explain">
                        <h1>Account Deletion</h1>
                    </div>
                    <div class="delete_information_content">
                        <div class="delete_button_layout">
                            <button class="delete_button" type="submit">Delete Account</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </main> 
        {% include 'footer.html' %}     
    </body>
</html>