.footer{
    padding-top: 20px;
    height: 180px;
    background: linear-gradient(to right, rgb(116, 115, 115), rgb(90, 89, 89)); /* subtle gradient */
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff; /* changed to a lighter shade for better readability */
    font-weight: 400;
    width: 100vw;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.2); /* subtle top shadow */
    border-top: 2px solid rgba(0,0,0,0.5); /* top border for depth */
}
