body {
    background-color: #fbfbfd;
}

.main_container {
    width: 100%;
    /* height: 400px; */
    display: flex;
}

.monthly_best, .notice_list {
    flex: 1;
    text-align: center;
}

.monthly_best {
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    display: flex; /* 추가로 flex 레이아웃을 적용 */
    flex-direction: column;
}

.notice_list{
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 5%; */
    /* margin-left: 5%; */
    display: flex; /* 추가로 flex 레이아웃을 적용 */
    flex-direction: column;
    border-left: 2px solid #ecf0f1; 
}
.sections {
    display: flex; /* 내부 섹션들을 가로로 나열 */
    width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
}

.best_section1, .best_section2 {
    flex: 1; /* 각 섹션이 monthly_best의 절반을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
}

.best_section1 .image-placeholder {
    background-color: #ecf0f1; /* Gray background */
    width: 300px; /* Width of the image area */
    height: 400px; /* Height of the image area */
    border-radius: 15px; /* Rounded corners */
    margin: 10px auto;
}

.best_section2 .image-placeholder {
    background-color: #ecf0f1; /* Gray background */
    width: 300px; /* Width of the image area */
    height: 400px; /* Height of the image area */
    border-radius: 15px; /* Rounded corners */
    margin: 10px auto;
}
.notice_list {
    margin-right: 5%;
    margin-left: 5%;
}
 
